@charset "utf-8";
/* CSS Document */
body {
background-color: #eee;
}

body, .btn, .form-control {
font-size:12px;
}

a {
cursor:pointer;
}

a:hover {
text-decoration:none;
}

.container {
text-align:center;
}

.spacing-right-5 {
margin-right:5px;
}

.spacing-bottom-5 {
margin-bottom:5px;
}

.spacing-bottom-20 {
margin-bottom:20px;
}

#SmartNotification span {
font-size: 14px;
padding:10px 20px 10px 20px;
border-radius: 4px 4px 4px 4px;
border: solid 1px;
font-weight:bold;
}

.smartnotification-info span {
background-color: #D9EDF7;
border-color: #428BCA;
color: #3A87AD;
}

.smartnotification-error span {
background-color: #F2DEDE;
border-color: #EED3D7;
color: #B94A48;
}