@charset "utf-8";
/* CSS Document */
body {
background-color: #eee;
}

.div-signin {
max-width: 330px;
padding: 15px;
margin: 0 auto;
margin-top:100px;
}

.spacing-b-m {
margin-bottom: 10px;
}

.has-spinner.active {
  cursor:default;
}

#SmartNotification span {
font-size: 14px;
padding:10px 20px 10px 20px;
border-radius: 4px 4px 4px 4px;
border: solid 1px;
font-weight:bold;
}

.smartnotification-info span {
background-color: #D9EDF7;
border-color: #428BCA;
color: #3A87AD;
}

.smartnotification-error span {
background-color: #F2DEDE;
border-color: #EED3D7;
color: #B94A48;
}
